<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="2.1.4.13" targetFramework="net451" />
  <package id="Droid_deployer" version="1.0.2" targetFramework="net451" />
  <package id="officeribbon" version="3.5.8.4" targetFramework="net451" />
  <package id="Tools4Libraries" version="1.0.14" targetFramework="net451" />
</packages>